<!-- Listing 7.2  The components/selectable-list template -->

<div class="list-group mediumTopPadding" style="width: 95%;">
  {{#each node in nodes}}
    <div class="list-group-item">{{node.id}}</div>
  {{/each}}
</div>
