<!-- Listing 7.9  Adding a Delete button to the selectable-list-item component template -->

<button class="..." {{action "showDeleteModal"}}>Delete</button>
<div {{bind-attr width=textWidth}} {{bind-attr maxWidth=textWidth}}>
  {{node.id}}
</div>
